/*banner styles*/
.banner {
	background-color: #D6E3F4;
	background-image: url(../images/brain_icon.png);
	background-repeat: no-repeat;
	background-position: center left;
	justify-content: center;
	text-align: center;
	color: #964B00;
	font-size: 45px;
	/*padding-top: 0;
	padding-left: 20px;*/
	padding-bottom: 20px;
	width: 100%;
	position: absolute;
	  left: 0;
	  top: 0;
	  right: 0;
	  z-index: -1;
	/*margin-left: 50px;
	margin-right: 20px;
	border-bottom: 4px solid #964B00;
	padding-bottom: 10px;
	margin-bottom: 15px;*/
}

/*footer styles*/

.footer {
	background-color: #D6E3F4;
	justify-content: center;
	text-align: center;
	margin-top: 20px;
	padding: 0;
	width: 100%;
	position: absolute;
	  left: 0;
	  bottom: -1;
	  right: 0;
	  z-index: 1;
}

/*main styles*/
body {
	background-color: #f4e7d6;
	font-family: "Arial, Helvetica, sans-serif";
	margin-bottom: 80px;

}

.h1div {
	margin-top: 5px;
	font-style: italic;
	font-size: 20px;
	color: black;
	text-align: center;
	padding-bottom: 10px;
}

.h2div {
	text-align: center;
	font-style: italic;
	/*margin-bottom: 28px;*/
}

.footer-div {
	font-size: smaller; 
	font-style: italic; 
	padding-bottom: 15px;
}

.margin { 
	padding-top: 10px;
	margin-left: 20px;
}

h1 {
	margin-top: 0;
	margin-bottom: 5px;
	color: #8B4513;
	padding-left: 20px;
}

h2 {
	/*margin-top: 20px;*/
	margin-bottom: 0;
	padding-bottom: 0;
	font-weight: bolder;
	color: #27445C;
	padding-left: 5px;
	/*padding-top: 50px;*/
}

h3 {
	color:;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	padding-top: 0;

}

table { margin-bottom: 20px; }

p {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.5em;
}

aside { 
	text-align: justify;
	margin-left: 25px;
}

figcaption {
	text-align:center;
	font-size: smaller;
	margin-right: 5px;
	padding-right: 5px;
}

figure {
	float: left;
}
table, tr, th, td {border: 1px solid grey;}

ol, ul { margin-left: 10px; }

.moveimage { padding-left: 22px;}

h2:first-child{text-align: center;}

a {
	text-decoration: none;
}

.a-underline{
	color: #000080;
	text-decoration: underline;
}

.container {
	margin: 0 auto;
	width: 95%;
	padding-left: 50px;
	max-width: 960px;
	text-align: left;
	display:grid;
	grid-template-columns: 40% 60%;
}

.leveling { padding-top: 10px;}

header, section.box-layout { grid-column: 1 / 3; }


/*.spacing { 
	padding-left: 50px; 
	padding-top: 0;
}*/

.image1 {
	padding-left: 0;
	margin-left: 20px;
	margin-right: 10px;
}

.lead {
	border-top: 2px;  
	margin-bottom: -50px;
	margin-right: 10px;
	margin-top: 18px;
	padding-top: 15px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 10px;
}

.lead2 {
	width: 100%;
	max-width: 900px;
	justify-content: center;
	margin-left: 300px;
	display: grid;
	margin-top: 20px;
	grid-template-columns: 2%, 98%;

}

.box-layout {
	display: flex;
	text-align: justify;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 0;
}

.box-layout li {
	flex-basis: 100px;
	flex-shrink: 3;
	list-style-type: none;
	background-color: #b5b5b5;
	margin-top: 20px;
	margin-right: 50px;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 25px;
}

a:hover{color: #800080;}

@media (max-width: 700px) {
	.container { 
		display: block;
		padding-left:0; } 
} 

@media (max-width: 600px) {
     figure {
          float: none;
          margin-left: initial;
     }
} 

/*/*portrait view*/
/*@media (max-width: 300px) {
	.lead2 { 
		display: block;
		width: 100%;
		max-width: 300px;
		margin-left: 0;
		padding-left: 10px;
	}
*/

/*landscape view*/
@media (max-width: 700px) {
	.lead2{ 
		display: block;
		margin-left: 30px;
		width: 80%;
	}

/*@media (max-width: 600px) {
	section.lead2 { 
		display: block;
		width: 100%;
		max-width: 300px;
		margin-left: 0;
		padding-left: 10px;
	}

*/
}

@media (max-width: 600px) {
	.h1div { 
		padding-top: 30px; 
		font-weight: bold;
		color: #800020;
	}

}

.flexible {
    width: 100%;
    max-width: 250px;
    max-height: 200px;
}